[2018-03-10 23:13] ecm-pushbx opened #1 "The shell doesn't display any error if exec fails"
The most likely place this should go is at https://github.com/bartoldeman/freecom/blob/master/shell/command.c#L221 This calls into https://github.com/bartoldeman/freecom/blob/master/lib/exec.c which calls into https://github.com/bartoldeman/freecom/blob/master/lib/lowexec.asm

Test case:

[code]

Expected: An error message about the program not fitting into memory.

PS please tell me if I should u

[2018-08-16 00:26] bartoldeman commented on #1
Closed by commit 7814502

[2018-08-16 00:26] #1 closed

[2018-08-24 21:24] cjsthompson opened #3 "Useless DIR output with /B option set in the DIRCMD environment variable from autoexec.bat"
Hello,

I have stumbled upon a weird bug when trying to set DIRCMD=/W /P /B /ONG in autoexec.bat. When
I do that, if I do DIR (alias ls in the pic) I get a bunch of "String #133" as output instead of the expected list of files:

![screen01](https://user-images.githubusercontent.com/359383/44608172-1f5ed400-a7f3-11e8-82c1-eb55216f5a48.png)

If I set DIRCMD in autoexec.bat to "/W /P /B" it works as

[2018-08-26 16:07] dieymir opened #5 "Compilation errors when LFN support is disabled"
When you attemp to compile the source disabling LFN support in CONFIG.H, compilation fails with several errors. Some constants/structs were undefined. This quick fix solved the problem and I was able to successfuly compile FreeCOM:

--- lfnfuncs.org	2018-08-26 12:49:35.317554669 +0200
+++ lfnfuncs.h	2018-08-26 12:49:35.317554669 +0200
@@ -108,5 +108,24 @@
 #endif /* __LFNFUNCS_C */

 #endif /* FEA

[2018-08-28 15:56] tkchia opened #6 "System crash ("Invalid Opcode") on short batch file"
Running a batch file
[code]
a few times, on a barebones system with `commandg.com`, ultimately causes a crash for some reason:
[code]
Thank you!

[2018-08-29 03:01] bartoldeman commented on #6
I haven't been able to reproduce this so far.
Just to get the same setup, I tried with the released pre5 commandg.com binary on metados 0.6 where fdauto.bat was reduced to only @echo off. I ran your batch file 10 times but no crash.

Did you modify config.sys too?

[2018-08-30 11:31] #5 closed

[2018-08-30 11:33] bartoldeman commented on #3
I'm 99% sure this was fixed in 5c8321f5, as the strings were not copied correctly from XMS if you used "dir /b"; without /b they were working mostly by accident.

[2018-08-30 11:33] #3 closed

[2018-08-30 11:37] cjsthompson commented on #3
Thanks. I'll upgrade.

[2018-08-30 14:52] tkchia commented on #6
It works now, thanks!

[2018-10-03 10:57] ecm-pushbx opened #8 "LOADFIX foo.bat treats batch file as executable"
This https://github.com/FDOS/freecom/blob/b2e3151f41967632ee161da3d59810c763a49563/shell/loadhigh.c#L215 calls exec() which is defined in https://github.com/FDOS/freecom/blob/b0e598470a116d5c588e3836c443730cdbe98221/lib/exec.c#L120 and thus batch files are wrongly loaded with Int21.4B as if they were binary executables.

[2018-10-03 15:07] ecm-pushbx opened #9 "Possible NULL pointer dereference in command.c:execute()"
https://github.com/FDOS/freecom/blob/291d040ff5c529e4d949a96b759f52b67f98e3f6/shell/command.c#L147

[code]

fullname is dereferenced here, but then expected to possibly be NULL.

[2018-10-04 13:19] ecm-pushbx opened #10 "LOADFIX enables the UMB link when executing its command and leaves it enabled afterwards"
The following log shows that the UMB link is disabled at first (11B1h => MCB has "Z"), then when loading the debugger with LOADFIX, the UMB link is enabled (1EDCh => MCB has "M"), and afterwards loading the debugger without LOADFIX again, the UMB link is still enabled (11B1h => MCB has "M").

https://github.com/FDOS/freecom/blob/b2e3151f41967632ee161da3d59810c763a49563/shell/loadhigh.c#L196 calls

[2018-10-04 13:29] ecm-pushbx commented on #10
Here's the script for lDebug to set up the TSR and leave the debugger resident:

[code]

[2018-10-04 13:37] ecm-pushbx commented on #10
[code]

[2018-10-04 13:38] ecm-pushbx commented on #10
old_link somehow seems to have been corrupted to 5800h.

[2018-10-04 13:55] ecm-pushbx commented on #10
This is the exec() call in https://github.com/FDOS/freecom/blob/b2e3151f41967632ee161da3d59810c763a49563/shell/loadhigh.c#L215

Still trying to put a breakpoint somehow so as to trigger after this call.

[code]

[2018-10-04 14:40] ecm-pushbx commented on #10
lDebug script that makes the handler break on either 21.5802 (Get UMB link state) or 21.5803 (Set UMB link state).

[code]

[2018-10-08 19:23] ecm-pushbx commented on #10
One issue (though perhaps not the only one because that doesn't explain all I've seen yet) is that https://github.com/FDOS/freecom/blob/b2e3151f41967632ee161da3d59810c763a49563/lib/gumblink.c#L51 returns ax, whereas FreeDOS (and MS-DOS) return the UMB link state in al only. When DosUmbLink is called with input 5800h, at https://github.com/FDOS/kernel/blob/e6d427834fb5f414ecb984b87454d5df39f2f571/k

[2018-10-18 20:06] codercowboy opened #12 "support for escaped characters"
I'd like to see support for escaped characters, particularly in the echo command.

Per [this guide](http://www.robvanderwoude.com/escapechars.php), for example, to display a ">", the usual command would be "echo ^>".

I'm happy to help. How would I go about adding support for this to the shell? I dug around a little in command.c in an attempt to find the bit of code that handles the ">" for redire

[2019-01-06 14:59] fritzmueller opened #13 "command.com pre 6 and copy command"

[2019-01-06 15:07] fritzmueller commented on #13
command com does not show the target path when copying a file. Example:
c:\ md test
cd test
a:
copy a:*.*
shown result:
file.ext --> c: file.ext
instead of
file.ext --> c:\test\file.ext
This is confusing as you are not sure if it copies to C:\ or to C:\test

[2019-05-13 23:46] #9 closed

[2019-05-16 00:50] #10 closed

[2019-05-16 01:30] bartoldeman commented on #8
Indeed, lh/loadfix need to reject batch files. Done now.

[2019-05-16 01:31] #8 closed

[2019-05-16 19:25] bartoldeman commented on #13
@fritzmueller I will leave this in as a feature request mostly since I am concentrating on bug fixes. MS COMMAND only displays the filenames so FD COMMAND is already more verbose.

As for b), have you tried using `/F` as in `shell=c:\command.com /e:1024 /p/f` this should directly fail,
see https://en.wikipedia.org/wiki/Abort,_Retry,_Fail%3F

[2019-05-16 19:38] #12 closed

[2019-05-16 19:38] bartoldeman commented on #12
This was a three line change, so I just did it.

[2019-05-16 20:56] codercowboy commented on #12
Thanks! To be clear, the resource I linked above lists a few more escapable characters in the table below such as &&, ^^, ^<, ^( and so on. The ">" escaped character is the one I wanted for my uses though, so thanks again!

[2019-05-17 00:49] bartoldeman commented on #12
Yes the thing is that it's not necessary for the others since freecom does not support `&`, `&&` etc, so `echo &` already shows an `&`, and `echo ^&` gives `^&`. Then it's just a question which command interpreter you want to be compatible with.

[2019-05-17 17:54] codercowboy commented on #12
Ah, good point! Thanks so much for the fix.

[2019-07-30 11:58] ecm-pushbx opened #15 "cswap.asm XMS handling not 8086-clean"
While testing my XMS implementation for 8086tiny https://github.com/ecm-pushbx/8086tiny/commit/55bf20380ed1310ac681855c43495fe067ef37fa I came upon several different, reproducable errors produced by different versions of FreeCOM. With a hack to make FreeCOM fail its XMS allocation, everything seemed to work and my own program (lDebug symbolic) successfully used the XMS interface.

I eventually cha

[2019-07-30 12:00] ecm-pushbx commented on #15
I suggest that the NASM directive "cpu 8086" should be used to catch these and possibly additional bugs.

[2019-07-30 12:37] ecm-pushbx commented on #15
I disabled my first workaround and implemented the push imm16 instruction in my fork of 8086tiny. Now the XMS swapping works. Refer to https://github.com/ecm-pushbx/8086tiny/commit/c09ef85f799358560c1acb2f00fc63fe688a6f8f

[2019-08-09 11:50] ecm-pushbx opened #16 "If FEATURE_XMS_SWAP is undefined, the Parent Process Interrupt 22h handler is not set"
The PPI should be set to point to FreeCOM's own handler when the FreeCOM PSP's PPR (Process Parent Process) is set to self-owned. Refer to https://github.com/stsp/fdpp/issues/97#issuecomment-519888168 which refers to https://github.com/FDOS/freecom/blob/b0e598470a116d5c588e3836c443730cdbe98221/shell/init.c#L191 and https://github.com/FDOS/freecom/blob/81535436f80343d7d111df381f2f9020bd1e3362/shell

[2019-12-15 23:40] #16 closed

[2019-12-18 00:25] #15 closed

[2019-12-18 00:30] bartoldeman commented on #15
Indeed XMS on a 8086 is nonsense. But forcing `cpu 8086` is not a bad idea in other places and there is a better way in any case (a "call far" instruction).

Some code in the cswap.asm is still not 8088-safe but for the above reason I'm not going to fix it (namely that early models did not disable interrupts for one instruction past `mov ss, ...`)

[2020-01-05 16:33] fritzmueller commented on #13
Hi, I just found a strange problem in the latest command Beta version.
My test ran in VirtualBox 6.0.14, I booted there from a real diskette.
I created a file hello.txt and hello1.txt at c:\ .
When executing the command: copy command.com C:\hello.txt or C:\hello1.txt I get a question if I really want to overwrite the existing file and have to confirm. So far ok.
When executing the command from A:

[2020-01-05 16:45] fritzmueller opened #17 "I added a comment referring to beta 7 at the beta 6 comments"
sorry for this

[2020-01-05 21:59] p-durlej opened #18 "Multiple bug fixes and improvements"
There are multiple FreeCom bug fixes and improvements at (https://github.com/p-durlej/freedos-freecom/commits/master).

You may want to cherry-pick some or all of them.

[2020-02-01 14:33] ecm-pushbx opened #20 "FreeCOM fails to match any commands in RxDOS 7.24 due to unsupported Int21.6505"
Tested with "FreeCom version 0.84-pre2 XMS_Swap [Aug 28 2006 00:29:00]" running on "RxDOS version 7.25 [hg e59148587a27] [2020-01-31]". However, it appears that the current branch head of FreeCOM will be affected too.

(The FreeCOM 0.84-pre7 release's COMMANDG.COM on the same RxDOS kernel version leads to [RxDOSINI's message "Halted. Press Ctrl+Alt+Del to reboot."](https://hg.ulukai.org/ecm/rxdos-

[2020-02-02 02:30] ecm-pushbx commented on #20
For the record, [I fixed the other problem with a kernel bugfix](https://hg.ulukai.org/ecm/rxdos-7.2x/rev/4b35088ba9be). Now, the new version seems to run into the same issue as the older one.

[2020-05-05 20:16] cardpuncher opened #21 "Typo in the Turkish translation"
Hello,

There's a small typo in the Turkish translation:  "code page" was mistakenly translated as "page code" in that language, i.e. what should have been "kod sayfası" was "sayfa kodu". Attached files in the zip archive fix this issue.

You should also probably update the following lines in the files:

"#	Language: English"
"#	Codepage: ASCII (7bit) / any codepage"

Best regards.

[freecom_turki

[2020-05-06 22:04] dgorski opened #22 "command.com (without /P) should return %ERRORLEVEL% rather than zero"
Hi, I noticed main() returns zero rather that the current errorlevel.  This makes freecom unusable as a sub-shell for executables (like BBS systems) that are capable of running batch files while they are still resident.  It seems like a pretty simple fix to the last line(s) of `shell/command.c`

Current always returns zero (why?)
[code]
Simple change returns the last command's ERRORLEVEL:
[code]

[2020-05-17 11:30] bitigchi commented on #21
This, and some other errors have been fixed with #23.

[2020-05-17 13:11] cardpuncher commented on #21
On 17.05.2020 14:30, Emir Sarı wrote:

I checked your corrections and honestly, I think they make the whole
translation much better. I feel kind of weird too, why didn't I think of
these? :-P

I'm going to close this bug report as your pull request should take
precedence.

Thanks a lot Emir.

[2020-05-17 13:13] #21 closed

[2020-05-17 13:13] bitigchi commented on #21
No problem, glad to be of help.

[2020-05-17 15:38] bitigchi commented on #21
Addendum: I've also translated a bunch of other utilities, @cardpuncher, please feel free to review them as well.

[2020-05-17 15:57] bitigchi opened #24 "Turkish translation is not used"
This is a a copy of the issue I've opened before on [SourceForge](https://sourceforge.net/p/freedos/bugs/269/). Basically, after a normal install with Turkish selected, the strings are still in English.

Maybe this bug report belongs to the installer? Can someone advise?

[2020-05-17 16:09] PerditionC commented on #24
Sounds like an installation issue, but could just be a missing message set in the released versions of FreeCom.  I will double check.  In a few weeks I plan to post a new release after some testing/stability checks/fixes.  Leave bug open as a reminder.

[2020-05-18 18:13] cardpuncher opened #25 "Slightly improved French translations"
Attached are French translations with several typos and mistakes corrected. A spellchecker and Grammalecte (a grammar tool) caught most of them. The codepage is 850 and Windows line endings are used, so hopefully you should be able to just replace old files with the ones contained in the archive.

All the best.

[french.zip](https://github.com/FDOS/freecom/files/4645806/french.zip)

[2020-05-29 01:33] dgorski commented on #22
Added #26 with this fix.

[2020-06-01 09:39] bitigchi commented on #24
Installed RC3. Other utilities except FreeCOM do use Turkish translations, but FreeCOM itself is still in English.

[2020-06-01 15:54] bitigchi commented on #24
Tried the Russian installation as well, FreeCOM seems to be displaying Russian text normally. Definitely a problem with the handling of the Turkish localisation.

[2020-08-12 00:46] stuaxo commented on #22
LGTM @francescosacco can this be merged ?

[2020-08-24 11:12] stuaxo commented on #22
Who is the best person to merge this, @PerditionC ?

[2020-08-24 12:09] PerditionC commented on #22
Yes, PR was merged

[2020-08-24 12:15] stuaxo commented on #22
Thanks :)

[2020-08-24 17:21] dgorski commented on #22
FWIW - I've been running a build with this patch since I created the merge request with zero stability issues.

[2020-09-08 04:40] francescosacco opened #28 "Internal commands don't set ERRORLEVEL"
Internal commands should set the ERRORLEVEL, just like normal commands. However, it doesn't happen as we can see below.

![image](https://user-images.githubusercontent.com/18581159/92433717-425b4700-f174-11ea-9c59-5257efeb0316.png)

[2020-10-01 02:02] jsonpittman opened #30 "Entering a long command that wraps to a second line breaks history when up-down arrowing through entries"
It seems that writing the backspace characters in clrline.c doesn't work properly if the entered command is long enough to wrap to multiple lines. It stop backspacing at the start of the last line. In this example, you can see that once you "up-arrow" through history to the "really long" command, further "up-down arrowing" to shorter commands causes them to not be displayed at the end of the comma

[2020-10-01 02:15] jsonpittman commented on #30
Submitted pull request (#31) with potential fix

[2020-12-11 06:40] dgorski commented on #22
I realized the other day that I had promised to re-test and close but I never did.  So I pulled the latest and built with WATCOM under FreeDOS 1.3.  FreeCOM now properly exits with %errorlevel% as expected.

![image](https://user-images.githubusercontent.com/2665156/101871313-5a66ac00-3b51-11eb-9c7b-be4c6baf8fb8.png)

[2020-12-11 06:40] #22 closed

[2020-12-11 09:46] stuaxo commented on #22
@andrewbird not sure if this affects your DOS tests ?

[2020-12-11 10:36] andrewbird commented on #22
Thanks for the heads-up! Fortunately it won't bother me because I write the DOS part of the tests to return text strings and in the python part I use unittest's `assert*()` to test that text output. I find preferable to write the pass/fail logic in python based on text screen output, any content created, host file system changes, or Dosemu logs / errors. The downside is that it doesn't really make

[2020-12-17 13:09] ki86m opened #32 "Fixed spelling errors in russian.lng"
The archive contains the corrected version of russian.lng
[russian.zip](https://github.com/FDOS/freecom/files/5709615/russian.zip)

[2021-01-12 14:41] andrewbird opened #36 "Four translations are currently unbuildable"
As noted here a01f824df5fcd1222bd2a7e7bc93ebc11a21e740 the Serbian and two flavours of Yugoslavian cause the parsing tool to segfault and with Turkish it generates invalid 'C' code. This was seen with both Github Actions CI and locally here on Ubuntu 20.04. I'm not really familiar with the language handling myself, perhaps someone else can fix this.
##### Fixes applied
- [x] turkish
- [x] serbian

[2021-01-12 14:52] andrewbird commented on #36
Here's the invalid C code from the Turkish translation
[code]

And in the `turkish.lng` file
[code]

That `toplu i<9f>` in the label name looks wrong?

[2021-01-12 15:24] andrewbird commented on #36
See https://github.com/FDOS/freecom/commit/be66413288bc672847e88fc9ce0038e3fce3a7ff#r45886346 for where is was introduced. May be we can just replace the labels that have `toplu i<9f>` with `BATCH`

[2021-01-12 15:46] andrewbird commented on #36
This fixes the build, but are the rest of the translations still correct?
https://github.com/andrewbird/freecom/commit/ea792b5ef6b9398a5264f916883af7608f4a155e

[2021-01-12 15:53] andrewbird commented on #36
I think @bitigchi was the original translator, can you confirm that the rest of the translations which have `toplu i<9f>` in them are correct please?

[2021-01-12 15:55] bitigchi commented on #36
"toplu iş" is correct. Anything I can do to help?

[2021-01-12 15:59] andrewbird commented on #36
Cool, thanks you just did! I'll see about getting that in a PR. I don't know how familiar you are with the `.lng` file format but can you spot anything wrong with the Serbian and Yugoslavian

[2021-01-12 16:00] andrewbird commented on #36
If you like to, but I did make the change already in that commit I pointed to.

[2021-01-12 16:19] bitigchi commented on #36
Thank you!

[2021-01-12 19:49] andrewbird commented on #36
So the problem for Serbian and Yugoslavian translations appears to be empty strings in the file become NULL pointers in the fixstrs, hence the segfault. I tried looking at the fixstrs source but can't figure out where the problem is exactly.  With https://github.com/andrewbird/freecom/commit/b521a4bdf4e39d7aa2effa466de340a1b6c416b6 it builds okay for each, but ideally we'd want those translated pr

[2021-01-13 18:50] andrewbird commented on #36
PR coming.

[2021-01-14 13:58] #36 closed

[2021-01-15 13:44] #25 closed

[2021-01-15 16:16] #32 closed

[2021-01-15 17:12] andrewbird commented on #28
@PerditionC presumably this can be closed now?

[2021-01-15 17:59] PerditionC commented on #28
Yes, I left it open because I wanted to see if a similar fix was still needed for comcom

[2021-01-15 18:38] andrewbird commented on #28
I don't have much recent experience with DOS batchfiles so the example below may be flawed, but I just tested with Dosemu2 and MS-DOS 6.22 and it seems that it doesn't report the success/fail of internal commands. With an external command the success / fail worked as expected.

[code]

[code]

[2021-03-24 16:31] niutech opened #46 "Add arithmetic expressions (SET /a)"
Please add [`SET /a`](https://ss64.com/nt/set.html#expressions) command line switch with mathematical expressions, using e.g. [TinyExpr](https://github.com/codeplea/tinyexpr), [expr](https://github.com/zserge/expr) or [expression_parser](https://github.com/jamesgregson/expression_parser).

[2021-05-03 19:52] bitigchi commented on #24
@cardpuncher, would you be able to test the RC4 to see if the Turkish translations do show up correctly? I won't be able to test it for a while due to my schedule, but very curious to see if it's okay now. :)

[2021-05-04 10:42] cardpuncher commented on #24
On 3.05.2021 22:52, Emir Sarı wrote:

Unless I did something wrong, I'm afraid the issue still exists. I
installed 1.3RC4 on VirtualBox but when I chose Turkish in the
installer, FreeCOM was still in English after the installation (tested
with a simple DIR /? command) -- whereas other tools like XCOPY were
indeed in Turkish. This is also true for the French language at least.

Pinging @shidel as I

[2021-05-04 15:21] shidel commented on #24
I'm sorry that the translations for FreeCOM are not yet available and only English has been provided with RC4.

To the best of my knowledge, there is nothing wrong with the FreeCOM translations. Unfortunately, many of us who work on different aspects of FreeDOS don't communicate directly very often. At present, language translations FreeCOM need to be compiled into the binary. The installer uses y

[2021-05-08 10:42] bitigchi commented on #24
Thank you @shidel.

[2021-05-26 00:59] PerditionC commented on #30
Thanks for the bug report and the fix.

[2021-05-26 00:59] #30 closed

[2021-05-27 03:10] PerditionC commented on #20
I believe this should be resolved with cherry picked support for fallback nls values if 650x is unsupported, see commit eb7de78d9764bb5d8abfab1c7414f5e806058502, but I still have to verify.

[2021-05-27 03:12] PerditionC commented on #18
Thank you.  I have cherry picked a bunch of them.  I may go back and get some more later.

[2021-05-27 03:12] #17 closed

[2021-05-30 18:49] PerditionC opened #47 "max environment size documentation"
/E newEnvSize where newEnvSize is a 16bit signed value, docs have 32768 as max value, actual max value per init.c#L440 is 32766.  Find any references and update to actual correct value

[2021-05-31 14:57] PerditionC commented on #47
FreeCOM is limited due to use of signed 16bit int during argument parsing to a max value of 32766.  See init.c specifically definition of [optScanInteger](https://github.com/FDOS/freecom/blob/eb7de78d9764bb5d8abfab1c7414f5e806058502/lib/optsi.c#L49:5)
However, per documentation, MS/IBM command.com is documented as having a max value of 32768 (see [Q33449: How to Increase MS-DOS Environment Space](

[2021-05-31 14:58] PerditionC commented on #47
So do we change FreeCOM argument processing to support 32768? or do document the limits of FreeCOM and how it is different from MS/PC command.com?

[2021-05-31 15:13] PerditionC commented on #47
correction, it is documented in strings\strings\str00c7.c

[2021-05-31 15:55] tkchia commented on #47
Hello @PerditionC,

I see that `optScanInteger` does not (need to) process negative integers anyway, so personally I would be more inclined to simply change it to return `unsigned` values --- then we can straightforwardly raise the `/E:` limit to 32,768.

Thank you!

[2021-06-01 01:46] PerditionC commented on #47
should be fixed with commit fb23bc0ebafe9b2154d6435d434beffa40caadbd

[2021-06-01 01:46] #47 closed

[2021-06-01 02:03] PerditionC opened #48 "Fix ci build"
Fixing bc broke gcc.  Fix it

[2021-06-01 13:45] andrewbird commented on #48
So I had a quick look at this and I've done a little tweak that mostly fixes it up. However for some reason the UKR translation has an extra string file which messes up the new makefile now that .objs are explicit mentioned. See
https://github.com/andrewbird/freecom/tree/strings-01.

[2021-06-01 17:15] PerditionC commented on #48
Thanks for looking into this.  I'm working on setting up gcc compiler so I can test my changes locally to avoid future breakage

[2021-06-01 17:58] andrewbird commented on #48
I'm not sure how others feel about this, but I think that we should switch the build to use Gnu make for all the compilers. At the moment it seems overly complex to use the compiler's native make, as either the use of features must be restricted to the common set, or as in the case of gcc there's the need to translate the watcom one with sed.
Also I didn't grok the need to run the compile twice?
h

[2021-06-02 00:38] PerditionC commented on #48
formally freecom used dmake exclusively (it was very hard to find last time I built and it used it many years ago, I actually ended up using an older version because it was all I can find).  My problem with gnu make is I don't have it for Borland and OpenWatcom as a version that works under Windows and DOS, but I'm not against standardizing a single Make version.  This build issue is really annoyi

[2021-06-02 22:58] PerditionC commented on #48
Now to see why ukr has that ff.obj file

[2021-06-03 00:14] PerditionC commented on #48
Cleaning up the makefiles to using one version and simplify things is really sounding like a good idea.  We need Bart's opinion though before going down that road

[2021-06-03 09:07] andrewbird commented on #48
I'm not that familiar with linking things natively in DOS, so I wonder why in this case we generate many str%04X.c files, then compile them into the corresponding objects, rather than create one .c file and just compile that. Does it change what gets linked somehow?

[2021-06-03 10:40] PerditionC commented on #48
Thanks for the fix.  I think the make file needs to be redone otherwise any new or modified strings will break the build again. fixstrs is supposed to create a response file that solved the variable number of strings problem, however, the way it is currently setup that isn't used for the compiling portion, only creation of the lib.  That is a different issue though.  CI build should now be fixed w

[2021-06-03 10:40] #48 closed

[2021-06-03 10:43] andrewbird commented on #48
So do you know the reason for the many object files and not just a single one, is it for some optimum linking method?

[2021-06-03 10:45] PerditionC opened #50 "redo build system"
Currently each compiler uses its own version of make and has a slightly different path when building.  This makes it difficult to make changes that don't break one of the supported compilers.  Open Watcom can be used from Windows, Linux, and DOS; Borland compilers work best from DOS (or DOSBox in Windows), and GCC (ia16) works best from Linux.  We need a make that works on all three OSes and can b

[2021-06-03 10:47] PerditionC opened #51 "CMDLINE"
see bug report (to be filled in later) - verify and correct if not that FreeCOM sets the PSP portion correctly for long command lines that pass the full command line in CMDLINE environment variable

[2021-06-03 21:57] PerditionC commented on #51
From various emails regarding this issue:

freecom sets the length byte of the command tail at PSP:80h to the "true" value of the commandline length. If the command line is 130 chars, this value will be 82h. However, since the PSP has a size of 256 only, just the first 127 bytes are copied to PSP:81h-ffh

If a command line exceeds 126 bytes, the value at [PSP:80h] "should" be **0x7Fh** ( _and a 0x

[2021-06-04 23:36] PerditionC commented on #51
should now be fixed when exec'ing programs see https://github.com/FDOS/freecom/commit/ba97fbc3c01f748c3ccd55bcdc949ea543402f7f
still need to enable FreeCOM to understand long command lines for itself when initializing

[2021-06-06 01:33] kerravon86 opened #52 "call incorrectly parsing arguments"
I am using the latest beta freecom (a couple of days old)
and it is not behaving like MSDOS 5.0 (where the entire
parameter is kept intact). Windows 10 too.

C:\DEVEL\gcc\gcc>type temp.bat
call temp2 ../libiberty/md5.c
C:\DEVEL\gcc\gcc>type temp2.bat
echo %1
C:\DEVEL\gcc\gcc>temp
C:\DEVEL\gcc\gcc>call temp2 ../libiberty/md5.c
C:\DEVEL\gcc\gcc>echo ..
..
C:\DEVEL\gcc\gcc>

[2021-06-06 20:49] PerditionC commented on #51
now also supports being called with long command lines see commit e05fa918e6a9eb97273d8310bc4f833b766e8f98
and reworked commit a773b62fd9d41255be5432c54b1d238eab4ff34a.  Maybe go back to original commit? it was easier to understand for a maintenance point of view and may actually use less memory due to less code...

[2021-06-06 20:51] PerditionC commented on #51
as a unrelated note I need to reconfigure my editor, it is really messing up tabs/spaces

[2021-06-08 20:38] #51 closed

[2021-06-09 14:13] kerravon86 commented on #50
pdmake is public domain and works on any C90-compliant platform and doesn't require tabs. You can get it here:

https://sourceforge.net/p/pdos/gitcode/ci/master/tree/pdmake/

[2021-06-09 17:07] PerditionC commented on #24
new release posted, please double check for any issues with the Turkish build; positive or negative results appreciated.  Bug will be closed once new release makes it into the distribution

[2021-06-10 08:01] bitigchi commented on #24
How to test this? I presume I have to swap the `command.com` file, is there an easy way to access FDOS VBox hard drive from host machine?

[2021-06-10 11:04] bitigchi commented on #24
Thanks @PerditionC. `FREECOM` is now in Turkish.

A bit unrelated, but the keyboard layout selected in Installer does not seem to persist after installation. Is this known behaviour or a bug (@shidel)?

[2021-06-17 17:41] PerditionC opened #53 "Former Todo file"
From the former TODO file, the below may still need to be done:

- PATH: check if environment functions report errors (in general check errors reported by all internal commands and document them)
- change size of context (? dynamic, bigger, smaller, not sure goal of this)
- Test if "command.com A:\" accepts the A:\command.com (? not sure what this is testing)
- IF: MS DOS 6 says: if a,a==a echo OK

[2021-06-18 17:03] tkchia commented on #53
Hello @PerditionC,

Apparently MS-DOS 2+ allows a bare path argument which will tell `command.com` where it can reload its transient bits from (and also how to set `COMSPEC`).  It seems that FreeCOM does also have such a feature.

Thank you!

[2021-06-18 17:38] PerditionC commented on #53
I have never used it, but yes FreeCom is documented as both supporting passing a path or path and filename which it will then use for comspec (where filename portion is needed if not named command.com) and any resources it needs to load.  If the path is not available, then this argument is ignored.  So I guess this todo item is to verify FreeCom works as documented.  Thanks for directing me to the

[2021-06-19 02:01] aimingoff opened #54 "`if errorlevel` statement doesn't work on FreeCOM 0.85"
I'm using following statements in `AUTOEXEC.BAT` on FreeDOS.
It works as expected with FreeCOM 0.84-pre7, but does not work with FreeCOM 0.85.
It always falls to `CHOICEA`.

[code]

I tried to remove additional statements between `vchoice` command and `if` statement, but the result was same.

[2021-06-19 08:16] PerditionC commented on #54
Thank you for the bug report.  This has been fixed, please try the current snapshot release https://github.com/FDOS/freecom/suites/3023765298/artifacts/68595880  I am working on releasing a 0.85a update with this fix and some documentation improvements

[2021-06-19 08:17] PerditionC commented on #54
see also https://sourceforge.net/p/freedos/bugs/310/

[2021-06-19 08:30] PerditionC opened #55 "html documentation"
FreeCOM has detailed documentation about its supported features including internal commands.

This documentation is in a custom format and a perl script is ran to generate HTML from that.

It would be nice if someone experienced with perl could validate the script still works, fixup any issues such as current links to anchors don't actually link to anchors (instead of something like a href=#somean

[2021-06-19 08:44] PerditionC opened #56 "wildcard handling"
Depending on if long file API is available or not, wildcards can behave differently.  Need a way to configure if user wants to wildcard against SFN or LFN API e.g. use * or *.* to find all files or if *PKG*.* matches everything or only files with PKG in the name portion.  Consider adding support for advanced wildcards as supported by 4DOS - see 4DOS wildcard section in its help documentation.

Not

[2021-06-19 09:13] PerditionC opened #57 "magic (internal) variables"
4DOS has support for many magic variables as does current command processors (think CMD.EXE instead of COMMAND.COM).  Consider adding support for some of them optionally compiled in.  (Can this be done in a manner that doesn't bloat FreeCOM?)

Please add comments with any particular "internal variables" that are likely to be broadly useful:
e.g.:
%_CPU - to get if current computer is 386 or not
%_

[2021-06-28 11:23] shidel commented on #24
@bitigchi Possibly a bug introduced in the new RBE (Release build environment). Could be not formatting or including the data correctly while creating the run-time version of the installer. I'll need to look into it. :-)

[2021-07-15 15:07] aimingoff commented on #54
Thanks. Version 0.85a works fine for me.

[2021-07-15 15:07] #54 closed

[2021-09-03 11:47] dcoshea commented on #51
I hit this in FreeDOS 1.3-rc4 when using `devload` to load `comment.sys` (a `config.sys` equivalent of `echo`, and yes I'm aware `echo` can be used in `config.sys` in FreeDOS) from http://cd.textfiles.com/simtel/simtel/DISK1/DISC2/BOOTUTIL/COMMENT2.ZIP:

    D:\FREEDOS\BIN>devload c:\comment.sys 000102030405060708091011121314151617181920
    21222324252627282930313233343536373839404142434445464748

[2021-11-02 17:49] ecm-pushbx opened #59 "How to build? (Linux crosscompiling with ia16 gcc)"
I just tried building FreeCOM with a very recent (last week's) ia16 gcc, using the command `./build.sh gcc`. What appears to be the final linking of `command.exe` fails with lots of undefined references to Unix style functions with prepended underscore. This is the command:

[code]

And this is a short excerpt of the resulting errors:

[code]

Full log file [is uploaded here](https://pushbx.org/ec

[2021-11-02 19:23] tkchia commented on #59
Hello @ecm-pushbx, hello @PerditionC,

This is a bug in FreeCOM.

The problem is that `newlib-ia16` 's `_open`, `_lseek`, and `_close` functions were internal functions &mdash; these were used to implement the "reentrant" `_open_r` etc. functions which in turn implement `open` etc.  And FreeCOM was incorrectly using these internal functions.  (Last month &mdash; https://github.com/tkchia/newlib-ia

[2021-11-04 07:57] tkchia commented on #59
Hello @ecm-pushbx, hello @PerditionC,

I have submitted a quick fix (https://github.com/FDOS/freecom/pull/60) to tackle this problem.

The proposed fix simply implements `sfn_open` and `dos_close` directly in `lib/farread.c` (and does not need my `libi86`).

Thank you!

[2021-11-08 06:06] ecm-pushbx commented on #59
Just did a `git pull` then had to `./build.sh clean` and now `./build.sh gcc` works as expected!

[2021-11-08 06:06] #59 closed

[2021-12-03 00:03] shidel opened #61 "Existence in question"
Hi, working on RC5 I noticed an interesting bug. The bug may or may not be in FreeCOM. I don't have the time to try and run it down right now. But so I don't forget about it, i'll file a bug report. If I recall, maybe I circle back to it later.

VirtualBOX, Latest Kernel, Latest FreeCOM (WATCOM/XSWAP/EN), Networking. For this example also with EtherDFS running.
A: Floppy Image, C: Hard Disk, D: CD

[2021-12-03 03:46] PerditionC commented on #61
Interesting, looks like some issues with redirected drives.  I will have to do some testing and comparisons.  What software did you use to map the network drive N: ?

[2021-12-03 03:47] PerditionC commented on #61
Just reread, etherdfs.

[2021-12-03 10:38] shidel commented on #61
It also does the same thing when booting the installed RC5. Which does not have EtherDFS. Only Kernel, FreeCOM, CD Driver Stuff, and Packet Driver (Since installed on VirtualBox), Jemm and some other common stuff.  What I should do is boot the installed RC in emergency mode without any drivers and retry. That won't take long. I'll do it right now....

Hmmm, It seems even worse.

VirtualBox, Only K

[2021-12-03 12:01] shidel opened #62 "Percentage of pipes"
The installer (FDI) really gives FreeCOM a good work out. It is probably one of the most complex BATCH scripts ever to run on DOS. If a problem exists it tends to crop up. For example, during early stages of development (years ago), I found that occasionally FreeCOM would "lose" information passed through pipes. It was inconsistent, impossible to predict and didn't always happen. So, the installer

[2021-12-03 12:35] andrewbird commented on #61
I just tried this in FreeDOS 1.2 (under dosemu2) and the problem seems to be there too, at least in the simple case of
[code]

I also tried the same thing under MSDOS 6.22 which gives the expected result
[code]

[2021-12-03 12:40] shidel commented on #61
Good to know it's not something new that happened as a result of the compiler related changes. :-)

[2021-12-04 16:10] andrewbird commented on #61
I've just written a little test for the dosemu2 test suite based on some of your examples. It does some tests on a non existent, a local FAT, and a network redirected drive. I've tried it out on DR-DOS 7.01, MS-DOS 6.22, and FDPP current git HEAD to establish that the semantics are correct. Each subtest should print 'xx_True'

On FreeDOS 1.2 I get only one failure, the one I mentioned earlier
[cod

[2021-12-04 17:21] shidel commented on #61
Hi @andrewbird,

You left a type of EXIST failure. The invalid syntax and failure test.

When you do these consecutively, the first should say yes. But, the second should do NOTHING. Or, at least to be consistent with MS-DOS provide an error. This seems to happen with just IF EXIST and not with if A == B.

[code]

Both report YES. Which is very wrong. The second has not command. I seems to be left

[2021-12-04 18:00] andrewbird commented on #61
Agreed, and seems to be a regression as FD 1.2 seems to handle this better.

#### Current git
[code]

#### FD 1.2
[code]

[2021-12-06 09:31] shidel opened #63 "If a joined pipe is broken then oops"
Hi, there is another issue with IF. This is not new to FreeCOM 0.85a and existed in previous versions.

An end user reported a problem with "the installer" basically getting stuck while creating new configuration files during installation and typing some stuff and pressing "enter" would cause it to move along. Even just running in normal mode, there are hundreds of possible scenarios that effect t

[2021-12-31 22:19] shidel opened #65 "A couple minor DIR issue"
First ...

DIR /? - Shows an [/V] in the usage.
DIR /V - returns invalid switch - /V

Second...

DIR /W - Shows wide Listing
DIR /W /W - Shows normal Listing
DIR /W /W /W - Shows wide Listing

/W is working like a toggle.

[2022-01-04 15:12] shidel opened #66 "IF NOT bug, maybe?"
I realize something regarding IF NOT syntax. I don't know if it is a bug or not.

C:\>if "A" == "A" echo good
good
C:\>if /i "A" == "A" echo good
good
C:>if not "A" == "A" echo fail
C:\>if /i not "A" == "A" echo fail
C:>if not /i "A" == "A" echo fail
fail
C:\>if not /i "A" == "b" echo good
good
C:\>if /i not "A" == "b" echo good
good

When /I NOT is used, everything seems good. But, when NOT /I is

[2022-01-07 12:46] shidel opened #67 "REMember, maybe some bugs shouldn't be fixed"
Hi,

While fixing some issues with the CRYNWR packages, I found another bug.

Basically, it has a [[X|4]] or similar in a REM statement. That was causing a "4]]" command not found. Docs say everything after the REM is ignored. But, the shell is obviously trying to pipe output. I haven idea how this wasn't a problem before with this package.

However out of curiosity, I checked MS-DOS6.22. It does

[2022-01-12 11:09] PerditionC opened #68 "Copy con message obscures input"
See https://sourceforge.net/p/freedos/bugs/355/

File size message interfering with input on copy con

[2022-01-13 00:30] shidel opened #69 "European Portuguese"
Just a heads up for @andrewbird and @PerditionC ...

New language submission for FreeCOM.

https://github.com/shidel/fd-nls/tree/master/freecom/source

[2022-01-13 10:21] andrewbird commented on #69
That's great, but I'm not sure where you got the initial import of Freecom's strings from as the filenames are formed differently, not DOS compliant and at present Freecom's build utilities won't process them.

Freecom's utilities expect `strings/french.{err,lng}`,  your repo has `source/freecom_{err,lng}.fr`. I actually prefer a hybrid of the two, but for now I'll just rename it to `pt.{err,lng}`

[2022-01-13 10:41] shidel commented on #69
Hi @andrewbird, all of the translation files in [FD-NLS](https://github.com/shidel/fd-nls) came from several places. Sources in packages, the abandoned localization project and developer website. You are more than welcome to rename the ones in FD-NLS and issue a pull request.  The current tool-chain to update the [translation status](https://shidel.github.io/fd-nls/report.html) for programs ignore

[2022-01-13 10:41] andrewbird commented on #69
Ignore question about pt_br, it's cp850/8 and you probably need to import it too

[2022-01-13 10:47] shidel commented on #69
I though I had your email, but they are all just responses through notification platforms. Please email me so I can send it to you. My more or less [public email](mailto:jerome@shidel.net) is easy to remember and has really good spam filtering. :-)

[2022-01-19 20:53] shidel commented on #69
@andrewbird Wilhelm just provided an update to the [German translation for FreeCOM](https://github.com/shidel/fd-nls/blob/master/freecom/source/freecom_lng.de). I guess there were numerous typos in the previous one.

[2022-01-20 00:03] #69 closed

[2022-02-03 18:52] cardpuncher commented on #24
This seems to be fixed in the latest test build, at least for the Turkish Q keyboard layout.

[2022-02-03 19:10] shidel commented on #24
@cardpuncher, good. There was some things regarding keyboard selection that needed fixed. Hopefully, it stays that way. :-)

[2022-02-15 16:52] PerditionC opened #73 "Ren on read only media has confusing error message"
See https://sourceforge.net/p/freedos/bugs/363/

On read only media ren error message says _No such file or directory_ instead of more clear _Device is write protected or read only._

Todo see what error reference command.com gives.

[2022-02-23 22:56] PerditionC opened #75 "Warning message with copy con confusing"
See https://sourceforge.net/p/freedos/bugs/355/

Message displayed when doing copy con t.txt obscures or otherwise confusing with text user is inputting

[2022-02-28 18:50] bttrx commented on #55
Ah, you have also noticed documentation/scripts are somewhat broken.
I'm no Perl expert, but I tinkered a while today and wish to share my observations.
1. Running `$ perl -I. ./db2html` from the `commands directory` will generate files `CMDLIST`, `TOC`, and `../cmd.html`.
2. You need to run `$ perl -I. ./db2html` for a second time to include the TOC in `../cmd.html` and have proper links. This is

[2022-02-28 19:05] bttrx commented on #55
I noticed at least one 'command' is missing, which will give some defunct links.
I created `chgdrive.db`:
[code]

[2022-02-28 19:13] bttrx commented on #55
Btw: For compatibility with SFN, I recommend to change .html files to .htm files. This should not hurt on LFN-aware systems.

[2022-03-08 15:06] dgorski commented on #28
Related to #22 - exit always returns zero from a subshell, but exiting a batch file (as long as it doesn't end with exit) returns the errorlevel.  This is specific to a non-permanent shell (subshell).

exit should return the errorlevel to the calling shell.

'exit' probably shouldn't do anything at all for a /P shell (including alter the errorlevel).

[code]

[2022-05-04 20:30] cjsthompson opened #76 "Testing for the existence of directories is broken"
Drive Q: does not exist. Try "IF EXIST Q:\NUL ECHO Hello". Hello is printed when it shouldn't. C:\FOOBAR\ does not exist. Same problem with "IF EXIST C:\FOOBAR\NUL ECHO Hello".

[2022-07-06 20:28] greybaddin opened #78 "Appending using COPY is broken for two input files"
The COPY command supports appending files using the syntax

COPY file1+file2[+[...]] file1

and this does work for three input files (and more I assume) but not for two !

Although it creates the correct output file for more than two input files the output to console is incorrect as the second file is shown as copied not appended.

[2022-08-14 14:42] andrewbird opened #79 "Build is broken for ia16 gcc"
I presume this is because @tkchia's libi86 now has support for fmem functions. I'm not sure what the correct fix is here though.

[code]

[2022-08-14 14:54] tkchia commented on #79
Hello @andrewbird,

The main difference seems to be that my `libi86` functions return a pointer to the destination buffer in each case &mdash; I follow Open Watcom's declarations for these functions.

Perhaps you can try adding return values to FreeCOM's versions of these functions as well, so that the prototypes will agree with those from `libi86`.  This should hopefully not be too hard.

Thank y

[2022-08-14 15:05] andrewbird commented on #79
Hello @tkchia,
   That's good to know, but I'm working on a label problem at the moment, so if anyone else wants to jump in and fix it it would be most welcome.

Thank you!

[2022-08-15 13:38] tkchia commented on #79
Hello all,

Here is my proposed patch:
[code]

Thank you!

[2022-08-20 18:00] andrewbird commented on #79
Hello @tkchia,
   Thanks for this, the build completes now for me successfully. Just one question, if libi86 has watcom compatible fmem* functions, why didn't its compilation fail?

Thanks again!

[2022-08-20 20:55] tkchia commented on #79
Hello @andrewbird,

The functions were only available through `<libi86/string.h>` before, not `<string.h>`.

In newer versions (~ June 2022) of `gcc-ia16` + `newlib-ia16` + `libi86`, I added a compiler mechanism to allow `<string.h>` to also automatically include `<libi86/string.h>` (unless in `__STRICT_ANSI__` mode).

Thank you!

[2022-08-20 21:02] andrewbird commented on #79
Hello @tkchia , sorry I didn't explain very well. I meant why didn't watcom's compilation fail?
Thank you!

[2022-08-20 21:12] tkchia commented on #79
Hello @andrewbird,

Oh.  Apparently the problematic declarations were only included if
[code]

(I suppose, if you want to, you could also try to distinguish between "early" and "later" versions of `gcc-ia16` in `suppl/supl_def.h`, `suppl/src/fmemove.c`, etc.  Something like
[code]
etc. might work, though I have not tested this.)

Thank you!

[2022-08-26 08:34] andrewbird commented on #79
Hello @tkchia,
  I tried a quick variation on your latest suggestion, and I deleted the `|| defined(__GNUC__)` in various places. The main reason for trying this was to see if the resultant command.com was smaller if built using your `_fmem*()` functions. However, it seems the supplement library is still needed for some functions like `_fstrcpy()` which I don't believe your libi86 implements yet.

[2022-08-26 19:48] #79 closed

[2022-11-03 21:20] bttrx opened #84 "Bug: COPY to non-existing drive"
Today I tried to copy COMMAND.COM to a non-existing drive J:.
I used FreeDOS 1.3 and FreeDOS Interim Build T2211.
Both report FreeCom as version 0.85a - WATCOMC - XMS_Swap [Jul 10 2021 19:28:06].
Here's my screen:

[code]

Doing the same in MS-DOS 6.22:

[code]

`copy command.com j:\` and `copy command.com j:\command.com` should report the same error as `copy command.com j:`.

And in a perfect wor

[2022-11-06 12:46] #84 closed

[2022-11-06 13:35] bttrx commented on #84
Thanks to both of you!

[2022-11-07 09:31] andrewbird commented on #76
I just tested the current version in git and things look fine to me.

D: drive exists
X: drive doesn't

[code]

[code]
@PerditionC I think we can close this as I think you did some work https://github.com/FDOS/kernel/commit/6ada304ec2e around this before last release and all seems fine now.

[2022-11-07 10:06] andrewbird commented on #65
1/ I raised a PR to remove the non-existent /V option from the string files.

2/ From what I can see all freecom option switches work like a toggle. For example
[code]
I can't really see a use for toggling, but others may know better?

[2022-11-07 11:36] PerditionC commented on #76
Should be fixed in upcoming releases

[2022-11-07 11:36] #76 closed

[2022-11-09 15:08] shidel commented on #65
Option toggling.

Not all options do it. For example `dir /p /p` will still pause. That requires `dir /p /-p` to turn it back off. SO, toggling is not consistent across all options.

Although it may not be important, for things like `set alias dirw=dir /w` then using `dirw /w` will turn off wide listings.

Also, MS-DOS does not toggle them. Since it varies from MS-DOS compatibility, perhaps toggli